.tippy-tooltip.honeybee-theme {
	background-color: yellow;
	border: 2px solid yellow;
}

.tippy-tooltip.honeybee-theme .tippy-content {
	color: black;
}

.tippy-tooltip.honeybee-theme[data-placement=top] .tippy-arrow {
    border-top-color: yellow;
}

.tippy-tooltip.honeybee-theme[data-placement=bottom] .tippy-arrow {
    border-bottom-color: yellow;
}
